
aniso8601
attrs
click
Flask
flask-restx
itsdangerous
Jinja2
jsonschema
MarkupSafe
pyrsistent
pytz
six
Werkzeug
requests
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117
Pillow
argparse
